---
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    {% include header.html %}

<body>
  <div class="container">
    <div class="blog-header">
      <h2><strong>MARCUS ÖSTERBERG</strong></h2>
    <div class"row">

      {% include social_links.html %}

    </div>
</div>
<div class="post-header">
  <h2 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h2>
  <h1 class="post-title">{{ page.title }}</h1>
</div>
<div class="tags">
  {% for tag in page.tags %}
  <i class="fa fa-tag"> {{ tag }}</i>
  {% endfor %}
</div>
<div class="blog-content">
  {{ content }}
  <br/>
</div>

  {% include disqus.html %}

</div>
<div class="back-to-archive">
  <a href="/"><i class="fa fa-arrow-circle-left"></i> Archive</a>
</div>
<div class="backtotop">
  <a href="#" i class="fa fa-arrow-circle-up fa-4x"></i></a>
</div>
</body>

  {% include footer.html %}

</html>
