---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include header.html %}

<body>
  <div class="container">
    <div class="card z-depth-1 top">
      <h1><strong>MARCUS ÖSTERBERG</strong></h1>
      <h2>
        <strong>Creator</strong>. <strong>Learner</strong>. <strong>Publisher</strong>. <br/>I reckon JavaScript will do the work.
      </h2>
<div class"row">

  {% include social_links.html %}

</div>
</div>
<div class="articles">
  <p>ARTICLES</p>
</div>
<div class="col s12">

  {% include page.html %}

</div>
</div>
<div class="container right-align" id="back-to-top">
  <a href="#"><i class="fa fa-arrow-circle-up fa-4x"></i></a>
</div>
</body>

{% include footer.html %}

</html>
