---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="container-fluid page-wrap">
        <h1><strong>MARCUS ÖSTERBERG</strong></h1>
        <h2>
        <strong>Creator</strong>. <strong>Learner</strong>. <strong>Publisher</strong>. <br/>I reckon JavaScript will do the work.
    </h2>
      <div class"row-fluid">
        <p class="social-links">
          {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
          {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
          {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
          {% if site.github_username %}<a href="http://www.github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-square"></i></a>{% endif %}
          {% if site.codepen_username %}<a href="http://www.codepen.io/{{ site.codepen_username }}" target="_new"><i class="fa fa-codepen"></i></a>{% endif %}
          {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
          {% if site.medium_username %}<a href="http://www.medium.com/@{{ site.medium_username }}" target="_new"><i class="fa fa-medium"></i></a>{% endif %}
          {% if site.instagram_link %}<a href="{{ site.instagram_link }}" target="_new"><i class="fa fa-instagram"></i></a>{% endif %}
        </p>
      </div>

      <a class="blog-toggle" href="#">abo</a>
      <div id="about-panel">
        <br/>
        {% include blog.html %}
        <br/>
      </div>
    </div>
  </body>
</html>
